<!DOCTYPE html>
<html>

<head>
  <title>Pocket Party</title>
  <!--Andrew Bagwell -->

  <!--Bootsrap 4 CDN-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">

  <!--Custom styles-->
  <link rel="stylesheet" type="text/css" href="styles/survey-page.css">
</head>


<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
        <img style="max-width:50px; margin-top: -7px;" src="../public/images/icon.png">
      </a>
      <a class="navbar-brand" href="#">Party Planner</a>

      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Plan Party</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Activies</a>
        </li>
      </ul>

    </div>
  </nav>



  <div class="container-fluid">


    <div class="row">
      <div class="col-md-12">



        <div class="row">
          <div class="col-md-3" id="partyquestions">
            <form>
              <div class="form-group">
                <label for="partyTitle"><h1>Party Title</h1></label>
                <input type="text" class="form-control" id="partyTitle" aria-describedby="partyTitle" placeholder="Party Title">
                <small id="partyDes" class="form-text text-muted">Tell us about your Party</small>
              </div>


                <div class="form-group">
                  <label for="whatDish">
                    <p>What type of Dish would you Like?</p>
                  </label>
                  <input type="text" class="form-control" id="dishType" aria-describedby="dishType" placeholder="Party Title">
                  <small id="dishType" class="form-text text-muted">ex: Fish, Chicken...</small>
                </div>



              <div class="form-group">
                <label for="exampleSelect1"><p>How Many Dishes Would You Like?<p></label>
                <select class="form-control" id="exampleSelect1" placeholder="Matching">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleTextarea"><p>Tell everyone about your Party!</p></label>
                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Give everyone a description of your Party!"></textarea>
                <small id="partyDes" class="form-text text-muted">Describe your Party</small>

              </div>

              <fieldset class="form-group">
                <legend>Attendees Allergies</legend>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1"
                      checked>
                    Eggs
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    Milk
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    Peanuts
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    Tree Nuts
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    Soy
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
                    Fish
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
                    Shellfish
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
                    Wheat
                  </label>
                </div>
              </fieldset>

              <fieldset class="form-group2">
                <legend>Dietary Needs</legend>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1"
                      checked>
                    Vegan
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    Vegetarian
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    Gluten Free
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    None
                  </label>
                </div>
              </fieldset>


<br>
<!-- Verify if 21 by asking user -->
<fieldset>
    <legend>Is this party 21+?</legend>
    <select name="ageverify" id="ageverify">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
</fieldset>
<br>

<!-- perfalc is perfered alcohols. -->
<!-- Should ONLY SHOW if q1 === true -->
<fieldset id="sensitive">
    <legend>Which alcohol would you like to use?</legend>
    <select name="perfalc" id="perfalc">
        <option value="Gin">Gin</option>
        <option value="Vodka">Vodka</option>
        <option value="Tequila">Tequila</option>
        <option value="Rum">Rum</option>
        <option value="Whiskey">Whiskey</option>
        <option value="Brandy">Brandy</option>
        <option value="Scotch">Scotch</option>
    </select>
</fieldset>
<br>

<!-- Amount of recipes to show  -->
<fieldset>
    <legend>How many drink ideas would you like?</legend>
    <select name="recipenum" id="recipenum">
        <option value=1>One</option>
        <option value=2>Two</option>
        <option value=3>Three</option>
        <option value=4>Four</option>
        <option value=5>Five</option>
    </select>
</fieldset>

<br> 

              <div class="form-group">
                <label for="activities">Would you Like Activites for Party Too? </label>
                <select class="form-control" id="exampleSelect1" placeholder="activities">
                  <option>Yes</option>
                  <option>No</option>

                </select>
              </div>

              <button type="submit" class="btn btn-link">Cancel</button>
              <button type="submit" class="btn btn-primary">Create</button>
            </form>

          </div>

          <div class="col-md-9" id="datahere">
              <div class="row" >
                  <div class="col-md-1" id="spacer">
                  </div>
                  <div class="col-md-5" id="food">
                  </div>
                  <div class="col-md-1" id="spacer">
                  </div>
                  <div class="col-md-5" id="drink">
                  </div>
                </div>
          </div>
        </div>
</body>
</html>