<body>
  {{!-- //Navbar --}}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
        <img style="max-width:50px; margin-top: -7px;" src="images/icon.png">
      </a>
      <a class="navbar-brand" href="#">Party Planner</a>

      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/survey">Plan Party</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/charades">Charades</a>
        </li>
      </ul>

      {{!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Log Out <span class="member-name"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/">Log Out</a>
   
        </div>
      </li> --}}


    </div>
  </nav>

  {{!-- //Survey Div --}}
  <div class="container-fluid">
    <div class="row">
          <div class="col-md-3" id="partyquestions">
            
            <form>

              <div class="form-group">
                <label for="partyTitle"><h1>Party Title</h1></label>
                <input type="text" class="form-control"  id="partyTitle" aria-describedby="partyTitle" placeholder="Party Title">
                <small id="partyDes" class="form-text text-muted">Tell us about your Party</small>
              </div>

               <div class="form-group">
                <h2>Choose Your Ingredient</h2>
                <input type="text" class="form-control" name="ingredient" id="ingredient"  placeholder="Ingredient">
                <small id="ingredient" class="form-text text-muted">Choose your ingredient</small>
                
               </div>

              <div class="form-group">
                <label for="exampleSelect1"><p>How Many Dishes Would You Like?<p></label>
                <select class="form-control" id="numOfDishes" placeholder="Matching">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleTextarea"><p>Party Description</p></label>
                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Give everyone a description of your Party!"></textarea>
                <small id="partyDes" class="form-text text-muted">Tell us about your Party</small>
              </div>

              <fieldset class="form-group">
                <legend>Attendees Allergies</legend>
                <div class="form-check allergies">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input allergies" name="optionsRadios" id="" value="" checked>
                    None
                  </label>
                </div>
                <div class="form-check allergies">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input allergies" name="optionsRadios" id="Eggs" value="Eggs">
                    Eggs
                  </label>
                </div>
                <div class="form-check allergies">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input allergies" name="optionsRadios" id="optionsRadios2" value="Milk">
                    Milk
                  </label>
                </div>
                <div class="form-check allergies">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input allergies" name="optionsRadios" id="optionsRadios3" value="Peanuts">
                    Peanuts
                  </label>
                </div>
                <div class="form-check allergies">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input allergies" name="optionsRadios" id="optionsRadios4" value="Tree Nuts">
                    Tree Nuts
                  </label>
                </div>
                <div class="form-check allergies">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input allergies" name="optionsRadios" id="optionsRadios5" value="Soy">
                    Soy
                  </label>
                </div>
                <div class="form-check allergies">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input allergies" name="optionsRadios" id="optionsRadios6" value="Fish">
                    Fish
                  </label>
                </div>
                <div class="form-check allergies">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input allergies" name="optionsRadios" id="optionsRadios7" value="Shell Fish">
                    Shellfish
                  </label>
                </div>
                <div class="form-check allergies">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input allergies" name="optionsRadios" id="optionsRadios8" value="Wheat">
                    Wheat
                  </label>
                </div>
              </fieldset>

              <fieldset class="form-group2">
                <legend>Dietary Needs</legend>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios9" value="option9"
                      checked>
                    Vegan
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios10" value="option10">
                    Vegetarian
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios11" value="option11">
                    Gluten Free
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios12" value="option12">
                    None
                  </label>
                </div>
              </fieldset>
              <br>  

              <!-- Verify if 21 by asking user -->
              <fieldset>
                  <legend>Is this party 21+?</legend>
                  <select name="age-verify" id="age-verify">
                      <option value="true">Yes</option>
                      <option value="false">No</option>
                  </select>
              </fieldset>

              <br>

              <!-- perfalc is perfered alcohols. -->
              <!-- Should ONLY SHOW if q1 === true -->
              <fieldset id="sensitive">
                  <legend>Which alcohol would you like to use?</legend>
                  <select name="perfalc" id="perfalc">
                      <option value="Gin">Gin</option>
                      <option value="Vodka">Vodka</option>
                      <option value="Tequila">Tequila</option>
                      <option value="Rum">Rum</option>
                      <option value="Whiskey">Whiskey</option>
                      <option value="Brandy">Brandy</option>
                      <option value="Scotch">Scotch</option>
                  </select>
              </fieldset>
              <br>

              <!-- Amount of recipes to show  -->
              <fieldset>
                  <legend>How many drink ideas would you like?</legend>
                  <select name="recipenum" id="recipe-num">
                      <option value=1>One</option>
                      <option value=2>Two</option>
                      <option value=3>Three</option>
                      <option value=4>Four</option>
                      <option value=5>Five</option>
                  </select>
              </fieldset>

              <br> 



              <div class="form-group">
                <label for="activities">Would you Like Activites for Party Too? </label>
                <select class="form-control" id="exampleSelect1" placeholder="activities">
                  <option>No</option>
                  <option>Yes</option>

                </select>
              </div>

              <button type="submit" class="btn btn-link">Cancel</button>

              <button type="submit" id="submitBtn" class="btn btn-primary submit">Create</button>

            </form>

          </div>
            <div class="col-md-3" id="food">
            
            </div>
      
            <div class="col-md-3" id="drink">
            </div>

          </div>
      </div>

    </div>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        

</body>
</html>

